<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>GRUPPI CLIENTI</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="addcustomergroupElement()" ng-if="customergroupsaved == true" class="button">Aggiungi</a></li>
		  	<li><a ng-click="savecustomergroups()" class="button">Salva</a></li>
		</ul>
	</div>
	
</div>

<div class="row">
	<div class="large-12 medium-12 small-12">
	
		<table st-table="customergroupsToDisplay" class="table table-striped" st-safe-src="customergroups" >
			<thead>
				<tr>
					<th >&nbsp;</th>
					<th st-sort="code"  st-sort-default="anything" st-skip-natural="true" >Codice</th>
					<th  st-sort="name"  st-skip-natural="true">Nome</th>
					<th >Descrizione</th>
					<th >Note</th>
					
					<th >&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customergroup in customergroupsToDisplay" >
					<td  ><div class="matita" ng-click= "modifycustomergroupElement(customergroup.idGroupCustomer)"></div></td>
					<td   ><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.code}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.code"  value="{{customergroup.code}}" />  </div></td>
					<td  ><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.name}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.name"  value="{{customergroup.name}}" />  </div></td>
					<td   ><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.description}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.description"  value="{{customergroup.description}}" />  </div></td>
					<td><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.note}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.note"  value="{{customergroup.note}}" />  </div></td>
					
				    <td ><a class="x" ng-click="deletecustomergroupElement(customergroup.idGroupCustomer)"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
