<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>CATEGORIE CLIENTI</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="addcustomercategoryElement()" ng-if="customercategorysaved == true" class="button">Aggiungi</a></li>
		  	<li><a ng-click="savecustomercategorys()" class="button">Salva</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-12 medium-12 small-12">
	
		<table >
			<thead>
				<tr>
					<td class="  first name">Codice</td>
					<td class="  cognome">Nome</td>
					<td class="  cognome">Descrizione</td>
					<td class="  cognome">Note</td>
					<td class="  half">&nbsp;</td>
					<td class="  half">&nbsp;</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customercategory in customercategorys ">
					<td class=" first username"  ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.code}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.code"  value="{{customercategory.code}}" />  </div></td>
					<td class="  username"  ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.name}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.name"  value="{{customercategory.name}}" />  </div></td>
					<td class="  username"  ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.description}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.description"  value="{{customercategory.description}}" />  </div></td>
					<td class="  usernote"  ><div ng-if="modifyid != customercategory.idCategoryCustomer">&nbsp;{{customercategory.note}}</div><div><input class="input_field"  ng-if="modifyid == customercategory.idCategoryCustomer" ng-model="customercategory.note"  value="{{customercategory.note}}" />  </div></td>
					<td class=" half "><div class="modifyicon" ng-click="modifycustomercategoryElement(customercategory.idCategoryCustomer)" ></div></td>
				    <td class=" half "><div class="deleteicon" id="del{{role.idrole}}" ng-click="deletecustomercategoryElement(customercategory.idCategoryCustomer)" ></div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
