<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>GRUPPI CLIENTI</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="addcustomergroupElement()" ng-if="customergroupsaved == true" class="button">Aggiungi</a></li>
		  	<li><a ng-click="savecustomergroups()" class="button">Salva</a></li>
		</ul>
	</div>
	
</div>

<div class="row">
	<div class="large-12 medium-12 small-12">
	
		<table >
			<thead>
				<tr>
					<td class="  first name">Codice</td>
					<td class="  cognome">Nome</td>
					<td class="  cognome">Descrizione</td>
					<td class="  cognome">Note</td>
					<td class="  half">&nbsp;</td>
					<td class="  half">&nbsp;</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="customergroup in customergroups | filter:query | orderBy:orderProp">
					<td class=" first username"  ><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.code}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.code"  value="{{customergroup.code}}" />  </div></td>
					<td class="  username"  ><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.name}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.name"  value="{{customergroup.name}}" />  </div></td>
					<td class="  username"  ><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.description}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.description"  value="{{customergroup.description}}" />  </div></td>
					<td class="  usernote"  ><div ng-if="modifyid != customergroup.idGroupCustomer">&nbsp;{{customergroup.note}}</div><div><input class="input_field"  ng-if="modifyid == customergroup.idGroupCustomer" ng-model="customergroup.note"  value="{{customergroup.note}}" />  </div></td>
					<td class=" half" ><a href="#/customergroup"><div class="modify"><div class="modifyicon" ng-click="modifycustomergroupElement(customergroup.idGroupCustomer)" ></div></div></a></td>
				    <td class=" half"><div class="deleteicon" id="del{{role.idrole}}" ng-click="deletecustomergroupElement(customergroup.idGroupCustomer)" ></div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
