<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>UNITA' MISURA</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="addUmElement()" ng-if="umsaved == true" class="button">Aggiungi</a></li>
		  	<li><a ng-click="saveUms()" class="button">Salva</a></li>
		</ul>
	</div>
	
</div>

<div class="row">
	<div class="large-12 medium-12 small-12">
	
		<table st-table="umsToDisplay" class="table table-striped" st-safe-src="ums" >
			<thead>
				<tr>
					<th >&nbsp;</th>
					<th st-sort="code"  st-sort-default="anything" st-skip-natural="true" >Codice</th>
					<th  st-sort="name"  st-skip-natural="true">Nome</th>
					<th >Descrizione</th>
					<th >Note</th>
					<th >&nbsp;</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="um in umsToDisplay" >
					<td><div class="matita" ng-click="modifyUmElement(um.idUnitMeasure)"></div></td>
					<td><div ng-if="modifyid != um.idUnitMeasure">&nbsp;{{um.code}}</div><div><input class="input_field"  ng-if="modifyid == um.idUnitMeasure" ng-model="um.code"  value="{{um.code}}" />  </div></td>
					<td><div ng-if="modifyid != um.idUnitMeasure">&nbsp;{{um.name}}</div><div><input class="input_field"  ng-if="modifyid == um.idUnitMeasure" ng-model="um.name"  value="{{um.name}}" />  </div></td>
					<td><div ng-if="modifyid != um.idUnitMeasure">&nbsp;{{um.description}}</div><div><input class="input_field"  ng-if="modifyid == um.idUnitMeasure" ng-model="um.description"  value="{{um.description}}" />  </div></td>
					<td><div ng-if="modifyid != um.idUnitMeasure">&nbsp;{{um.note}}</div><div><input class="input_field"  ng-if="modifyid == um.idUnitMeasure" ng-model="um.note"  value="{{um.note}}" />  </div></td>
					<td><a class="x" ng-click="deleteUmElement(um.idUnitMeasure)"></a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
