<div class="container userlist clearfix">
	<div class="toolbar_table">
		<h3>Elenco Documenti</h3>
		<div class=" buttonmenu addbutton admin_grant" >
			<a href="#/head/0">
				<div class="add">
				</div>
				<div class="addlabel">
					Aggiungi Documento 
				</div>
			</a>
		</div>
		<div class="printbutton buttonmenu" ng-click="printElements()">
			<div class="print">
			</div>
			<div class="printlabel">
				Stampa Elenco
			</div>
		</div>
		<div class="printbutton buttonmenu" ng-click="printMassElements()">
			<div class="print">
			</div>
			<div class="printlabel">
				Stampa Singola
			</div>
		</div>
		<div class="printbutton buttonmenu" ng-click="openFilter()">
			<div class="search">
			</div>
			<div class="printlabel">
				Filtra
			</div>
		</div>
		<div class="filter">
		<input class="filter" ng-model="query">
			<div class="label filter">Cerca:</div>
			
			
		</div>
		
		
		<div class="sort">
		    <select class="sort" ng-model="orderProp">
				<option value="username">Username</option>
				<option value="cognome">Cognome</option>
			</select>
			<div class="label sort">Ordina:</div> 
			
		</div>
	</div>
	<div>
			<div class="PRODUCT_DIALOG" ng-show="showFilter == true">
				<div class="PRODUCT_DIALOG_COLUMN">	
					<div>
						<div class="PRODUCT_fields">
							<div class="PRODUCT_label">Da Data </div>
							<div class="PRODUCT_field role">
								<input class="PRODUCT_inputfield datepicker" type="text" id="fromDate" ng-model="headfilter.fromDate" value="{{headfilter.fromDate}}"  create-datepicker />
							</div>
						</div>
						
						<div class="PRODUCT_fields">
							<div class="PRODUCT_label name">Cliente</div>
							<div class="PRODUCT_field role">
								<select id="selgroup" class="inputfield" ng-model="currentCustomer"    ng-options="customer as customer.customername for customer in customers" ng-data-provider="customers" create-chosen on-finish-chosen-update ng-change="headfilter.customer = currentCustomer">
									<option value=""></option>
								</select>
							</div>
						</div>
						<div class="PRODUCT_fields">
							<div class="PRODUCT_label name">Tipo documento</div>
							<div class="PRODUCT_field role">
								<select id="selcategory" class="inputfield" ng-model="currentDocument"    ng-options="document as document.description for document in documents" ng-change="headfilter.doc = currentDocument" ng-data-provider="documents" create-chosen on-finish-chosen-update  > <option value=""></option></select>
							</div>
						</div>
						
					</div>
				</div>
				<div class="PRODUCT_DIALOG_COLUMN">
					<div >
						<div class="PRODUCT_fields">
							<div class="PRODUCT_label name">A data</div>
							<div class="PRODUCT_field role">
								<input class="PRODUCT_inputfield " type="text" id="toDate" ng-model="headfilter.toDate" value="{{headfilter.toDate}}"  create-datepicker />
							</div>
						</div>
						<div class="PRODUCT_fields">
							<div class="PRODUCT_label name">Fornitore </div>
							<div class="PRODUCT_field role">
								<select id="selsupplier" class="inputfield" ng-model="currentSupplier"    ng-options="supplier as supplier.suppliername for supplier in suppliers" ng-data-provider="suppliers" create-chosen on-finish-chosen-update ng-change="headfilter.supplier = currentSupplier" ><option value=""></option></select>
							</div>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div class="tablecontainer" >
		<div class="pagination clearfix">
				<div class="navcontainer ">
					<ul >
					<li ng-repeat="page in pageArray"><div ng-if="page !=1 " class="pag" id="pag{{page}}" ng-click="getHeads(page)">{{page}}</div>
													<div ng-if="page == 1 " id="pag{{page}}"  class="first selected pag" ng-click="getHeads(page)">{{page}}</div></li>
					</ul>
					
					
				</div>
				<div class="filter">
					<button ng-click="getHeadsNumber()" >Filtra</button>
				</div>
				
				<div class="filter">
					<input class="filter" ng-model="pagesize" value="{{pagesize}}">
				</div>
				<div class="label filter">Righe per pagina:</div>
		</div>
		<table class="GECO_table eight_two clearfix">
			<thead>
				<tr>
					<td class="header_table row_table first half"><input type="checkbox" ng-click="addRemoveHeads()" class="checkbox_all" /></td>
					<td class="header_table row_table quarter delete">&nbsp;</td>
					<td class="header_table row_table half delete">&nbsp;</td>
					<td class="header_table row_table  half"><div class="sorter" ng-click="sortFunction('number')"><div class="sorter_label">N.</div><div class="sortericon number"></div></div></td>
					<td class="header_table row_table threequarter"><div class="sorter" ng-click="sortDateFunction('date',dateSortFunction)"><div class="sorter_label">Data</div><div class="sortericon date"></div></div></td>
					<td class="header_table row_table threequarter"><div class="sorter" ng-click="sortFunction('document.code')"><div class="sorter_label">Tipologia</div><div class="sortericon document code"></div></div></td>
					<td ng-show="headfilter.isSupplier == true" class="header_table row_table double"><div class="sorter" ng-click="sortFunction('supplier.suppliername')"><div class="sorter_label">Fornitore</div><div class="sortericon supplier suppliername"></div></div></td>
					<td  class="header_table row_table double"><div class="sorter" ng-click="sortFunction('customer.customername')"><div class="sorter_label">Cliente</div><div class="sortericon customer customername"></div></div></td>
					<td ng-show="headfilter.isCustomer == true" class="header_table row_table double"><div class="sorter" ng-click="sortFunction('destination.destinationname')"><div class="sorter_label">Destinazione</div><div class="sortericon destination destinationname"></div></div></td>
					<td class="header_table row_table threequarter"><div class="sorter" ng-click="sortFunction('amount')"><div class="sorter_label">Imponibile</div><div class="sortericon amount"></div></div></td>
					<td class="header_table row_table threequarter"><div class="sorter" ng-click="sortFunction('taxamount')"><div class="sorter_label">Imposta</div><div class="sortericon taxamount"></div></div></td>
					<td class="header_table row_table threequarter"><div class="sorter" ng-click="sortFunction('total')"><div class="sorter_label">Totali</div><div class="sortericon total"></div></div></td>
					<td class="header_table row_table half modify">&nbsp;</td>
					
				</tr>
			<thead>
			<tfoot>
				<tr>
					<td class="row_table first half">&nbsp;</td>
					<td class="row_table quarter delete">&nbsp;</td>
					<td class="row_table  half">&nbsp;</td>
					<td class="row_table  half">&nbsp;</td>
					<td class="row_table threequarter">&nbsp;</td>
					<td class="row_table threequarter">&nbsp;</td>
					<td ng-show="headfilter.isSupplier == true" class="row_table double">&nbsp;</td>
					<td  class="row_table double">&nbsp;</td>
					<td ng-show="headfilter.isCustomer == true" class="row_table double">&nbsp;</td>
					<td class="row_table threequarter">&nbsp;{{headamount}}</td>
					<td class="row_table threequarter">&nbsp;{{headtaxamount}}</td>
					<td class="row_table threequarter">&nbsp;{{headtotal}}</td>
					<td class="row_table half">&nbsp;</td>
				</tr>				
			<tfoot>
			<tbody>
				<tr ng-repeat="head in heads | orderBy:orderArray ">
					<td class="row_table first half"><input type="checkbox" ng-click="addRemoveHeadId(head.idHead)" class="checkbox_single" /></td>
					<td class="row_table quarter">
						<a ng-show="headfilter.isOrder == true"   href="#/head/{{head.idHead}}/1">
							<div class=" modify"  >
								<div  class="favoriteicon"></div>
							</div>
						</a> 
						<a ng-show="head.incomplete == true && head.document.supplier == true" href="#/head/{{head.idHead}}/2" >
							<div class=" modify"     >
								<div  class="incompleteicon"></div>
							</div>
						</a> 
						<a ng-show="head.incomplete == true && head.document.customer == true" href="#/head/{{head.idHead}}/3" >
							<div class=" modify"     >
								<div  class="incompleteicon"></div>
							</div>
						</a>
					</td>
					<td class="row_table half"><a href="#/head/{{head.idHead}}"><div class=" modify"><div class="modifyicon"></div></div></a></td>
					<td class="row_table  half">&nbsp;{{head.number}}</td>
					<td class="row_table threequarter">&nbsp;{{ head.date }} </td>
					<td class="row_table threequarter">&nbsp;{{head.document.code}}</td>
					<td ng-show="headfilter.isSupplier == true" class="row_table double">&nbsp;{{head.supplier.suppliername}}</td>
					<td  class="row_table double">&nbsp;{{head.customer.customername}}</td>
					<td ng-show="headfilter.isCustomer == true" class="row_table double">&nbsp;{{head.destination.destinationname}}</td>
					<td class="row_table threequarter">&nbsp;{{head.amount}}</td>
					<td class="row_table threequarter">&nbsp;{{head.taxamount}}</td>
					<td class="row_table threequarter">&nbsp;{{head.total}}</td>
					<td class="row_table half"><div class="deleteicon confirm" id="del{{head.idHead}}"  ng-click="confirmDelete(head)"></div></td>
					
				</tr>
			<tbody>
			
			</table>
			
	</div>
</div>
