body {
	font-family:"Open Sans Condensed", sans-serif;
	
}
.st-selected{
	background-color: #00adef ; 
	color:#FFF ;
}
.height-200{
	height: 200px;
}
.height-170{
	height: 170px;
}

.panel_1 {
 background-color: white;
 border: 2px solid black;

}
h1{
font-size: 10px;
}

.height-50{
height: 50px;
}

.width-150{
width: 50px;
}

h3 {
font-size: 24px;
color: #00adef;
margin-left: -4%;
margin-top: 13px;
	
}

.left{
	margin-left: 4%;
}


.centro {
	margin-left: -1%;
}

.sinistra {
	margin-top: 13px;
}



.tab_center_1{
	left: 50%;
position: relative;
margin-left: -434px;
}

.tab_center_2{
margin-left: -282px;
left: 50%;
position: relative;
}



.x{
background-image: url("../img/x.png");
height: 17px;
width: 20px;
background-repeat: no-repeat;
display: block;
}

.clienti {
	background-color: #fff;

}

.button {
	background-color: #00adef;

}
.button-group {
margin-top: 5px;
margin-left: 2px;
}
.margin{
	margin-left: -13px;
}

.login {
margin-top: 28px;
}

.matita {
background-image: url("../img/matita.png");
height: 17px;
width: 20px;
background-repeat: no-repeat;
display: block;
}

.x {
background-image: url("../img/x.png");
height: 17px;
width: 20px;
background-repeat: no-repeat;
display: block;
}

h6 {
font-size: 24px;
color: #00adef;
}

.dati {
margin: 20px;
}
.cliente_img{
background-image: url("../img/man_icon.png");
height: 180px;
width: 160px;
background-size: contain;
float: left;
background-repeat: no-repeat;


}

.vino_img{
background-image: url("../img/vino.jpg");
height: 180px;
width: 160px;
background-size: contain;
float: left;
background-repeat: no-repeat;
margin-left: 40%;


}
.info_cliente{
display: block;

}
.vino_cliente{
display: block;
margin-top: 20px;
}

nav.one ul li {
list-style: outside none none;    
font-size: 20px;
color: #00adef;
margin-top: 2px;
margin-left: 90px;
}
nav.two ul li {
list-style: outside none none;    
font-size: 20px;
margin-top: 2px;
}
nav.three ul li {
list-style: outside none none;    
font-size: 20px;
color: #00adef;
margin-top: 20px;
margin-left: 90px;
}
nav.four ul li {
list-style: outside none none;    
font-size: 20px;
margin-top: 20px;
}


@media only screen and (max-width: 548px){

.button-group {
margin-top: 16px;
margin-left: 33px;
}

.button {
	background-color: #00adef;
	margin-top: -18px;
}

.hidden_cell{
	display: none;
}
.tab_center_2 {
margin-left: -130px;
left: 50%;
position: relative;
}

.row_selected{
	
}