 <div class="container userlist clearfix">
	<div class="underconstruction">
	</div>
	<div class="menu-container">
		<div class="mainmenu">
			<ul ng-if="path == ''" class="menu " id="menu">
				<li class="munu_li"><a  href="#/head/0">Nuovo Documento</a></li>
				<li class="munu_li"><a  href="#/headlist/1/2">Elenco Documenti</a></li>
				<li class="munu_li"><a href="#/customer" >Clienti</a></li>
				<li class="munu_li"><a  href="#/product">Prodotti e Servizi</a></li>
				<li class="munu_li"><a  href="#/list">Listini</a></li>
				<li class="munu_li"><a  href="#/myprofile/{{user.iduser}}" >Mio Profilo </a></li>
				<li class="munu_li"><a  href="#/parameters">Parametri</a></li>
				<li class="munu_li"><a  ng-click="logout()">Logout</a></li>
			</ul>
			<ul ng-if="path == 'customer'"  class="menu " id="menu">
				<li class="munu_li"><a  href="#/head/0">Nuovo Ordine</a></li>
				<li class="munu_li"><a  href="#/headlist/1/1">I Miei Ordini</a></li>
			    
			</ul>			
		</div>
	</div>
	
 </div>