 <div class="container userlist clearfix">
	
	<div class="login">
					<div class="fields loginform">
						<div class="label">Username</div>
						<div class="field"><input ng-model="login.username" class="inputfield" /></div>
					</div>
					<div class="fields loginform">
						<div class="label surname">Password</div>
						<div class="field surnname"><input id="enterpassword" class="inputfield" type="password"  ng-model="login.password" /></div>
					</div>
					<div class="buttonbar">
						<div class="loginbutton" ng-click="loginfunction()">
							<div class="loginlabel">
								Accedi
							</div>
						</div>
					</div>
					
	</div>
 </div>