 <div class="container userlist clearfix">
	<div class="mainmenu">
			<ul class="menu " id="menu">
				
				<li class="munu_li"><a  href="#/rates">Aliquota</a></li>
				<li class="munu_li"><a  href="#/storemovement">Causali Magazzino</a></li>
				<li class="munu_li"><a href="#/customers" >Clienti</a></li>
				<li class="munu_li"><a  href="#/documents">Documenti</a></li>
				<li class="munu_li"><a  href="#">Fornitori</a></li>
				<li class="munu_li"><a  href="#" >Prodotti </a></li>
				
			</ul>
				</div>
 </div>