 <div class="container userlist clearfix">
	<div class="mainmenu">
			<ul class="menu " id="menu">
				
				<li class="munu_li"><a  href="#/rates">Aliquote</a></li>
				<li class="munu_li"><a  href="#/storemovement">Causali Magazzino</a></li>
				<li class="munu_li"><a href="#/customercategory" >Clienti: Categorie</a></li>
				<li class="munu_li"><a href="#/customergroup" >Clienti: Gruppi</a></li>
				<li class="munu_li"><a  href="#/counters">Documenti: Contatori</a></li>
				<li class="munu_li"><a  href="#/payments">Documenti: Pagamenti</a></li>
				<li class="munu_li"><a  href="#/documents">Documenti: Tipologia</a></li>
				<li class="munu_li"><a  href="#/supplierscategory">Fornitori: Categorie</a></li>
				<li class="munu_li"><a  href="#/suppliersgroup">Fornitori: Gruppi</a></li>
				<li class="munu_li"><a  href="#/categoriesproduct" >Prodotti: Categorie </a></li>
				<li class="munu_li"><a  href="#/brandproduct" >Prodotti: Marche </a></li>
				<li class="munu_li"><a  href="#/grouproduct" >Prodotti: Gruppi </a></li>
				<li class="munu_li"><a  href="#/unitproduct" >Prodotti: Unita' di Misura </a></li>
			</ul>
				</div>
 </div>