<div class="row">
	<div class="large-3 medium-3 small-3 columns">
		<h3>ELENCO DOCUMENTI</h3>
	</div>
	<div class="large-9 medium-9 small-9 columns">
		<ul class="button-group">
		  	<li><a href="#/head/0" class="button">NUOVO</a></li>
		  	<li><a href="#" class="button" ng-click="showfilter = !showfilter">FILTRA</a></li>
		  	<li><a ng-click="exportHeads()" class="button">ESPORTA EXCEL</a></li>
		 	<li><a ng-click="printMassElements()" class="button">STAMPA</a></li>
		</ul>
	</div>
</div>
<div class="large-12 " ng-show="showfilter">
	<div class="row">
		<div class="large-3 medium-6 small-12 columns">
			<label>Da Data
			  <input type="text"
				 ng-model="headfilter.fromDate"
				value="{{headfilter.fromDate}}" capitalize f-datepicker />
			</label>
		</div>
		<div class="large-3 medium-6 small-12 columns">
			<label>A Data
			  <input type="text"
				 ng-model="headfilter.toDate"
				value="{{headfilter.toDate}}" capitalize f-datepicker />
			</label>
		</div>
		<div class="large-3 medium-6 small-12 columns">
			<label>Tipo Documenti <select  name="document" ng-options="doc.description for doc in documents" ng-model="headfilter.doc"  >
           		 	<option value=""></option>
            	</select> 
				</label>
		</div>
		<div class="large-3 medium-6 small-12 columns">
			<label>Cliente <select  name="customer" ng-options="customer.customername for customer in customers | orderBy:'customername'" ng-model="headfilter.customer"  >
           		 	<option value=""></option>
            	</select> 
				</label>
		</div>
		<div class="large-3 medium-6 small-12 columns">
			<label>Numero <input id="number" type="text"  ng-model="headfilter.number" value="{{headfilter.number}}" ></input>
				</label>
		</div>
		<div class="large-3 medium-6 small-12 columns">
			<label>Attivi <input  type="checkbox"  id="active"  ng-model="headfilter.active" value="{{headfilter.active}}" ></input>
				</label>
		</div>
		<div class="large-3 medium-6 small-12 columns">
			<label>Annullati <input  type="checkbox"  id="inactive"  ng-model="headfilter.inactive" value="{{headfilter.inactive}}" ></input>
				</label>
		</div>
	</div>
</div>
<div class="row">
	<div class="small-6 columns ">
		<pagination total-items="totalitems" items-per-page="pagesize_confirmed" page="page" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pages" ng-click="getHeads(page)"></pagination>
	</div>
	<div class="small-6 columns ">
		Prodotti totali: {{totalitems}}
		<input ng-model="pagesize" value="{{pagesize}}">
		<div class="button tiny"  ng-click="getHeadsNumber()">Applica </div>
	</div>
</div>
<div class="large-12 ">
	<div class="row collapse">
 	
 	<table st-table="headToDisplay" class="table table-striped" st-safe-src="heads">
  <thead>
    <tr>
      <th width="50"></th>
      <th width="50"></th>
      <th width="150" class="hidden_cell" st-sort="number" st-sort-default="reverse" st-skip-natural="true">Numero</th>
      <th width="150" st-sort="date"  st-skip-natural="true">Data</th>
      <th width="150" >Tipologia</th>
      <th width="150" >Cliente</th>
      <th width="100" class="hidden_cell">Imponibile</th>
      <th width="100" class="hidden_cell">Imposta</th>
      <th width="100" >Totale</th>
      <th width="50"></th>
    </tr>
        <tr>
          <th colspan="8"><input st-search="" class="form-control" placeholder="Ricerca Globale ..." type="text"/></th> 
        </tr>
  </thead>
  <tbody>
    <tr ng-repeat="head in headToDisplay ">
      <td><input type="checkbox" ng-click="addRemoveHeadId(head.idHead)" class="checkbox_single" /></td>	
      <td><i class="icon_setup fi-pencil"  ng-click= "location.path('/head/'+head.idHead)"></i> </td>
      <td class="hidden_cell">{{head.number}}</td>
      <td >{{head.date}}</td>
      <td>{{head.document.code}}</td>
      <td>{{head.customer.customername}}</td>
      <td class="hidden_cell">{{head.amount}}</td>
      <td class="hidden_cell">{{head.taxamount}}</td>
      <td class="hidden_cell">{{head.total}}</td>
      <td><i class="icon_setup fi-x-circle"  ng-click="confirmDelete(head)"></i></td>

    </tr>
  
  
  </tbody>
</table>
             
     
   </div>
</div>

