
                <div class="small-12 columns">
                   <div class="row">
                        <div class="small-10 columns">

	                        <div class="subtitle" ><h4>ORDINE</h4>
	                    		
	                      
	                      	</div>
	                     </div>
	                    
				</div>
				<div class="row">	
                    <div class="small-12 columns">

                        		<table class="table detail">
                                  <thead>
                                    <tr>
                                      
                                      <th class="width-10"><h2>Codice</h2></th>
                                      <th class="width-40" ><h2>Descrizione</h2></th>
                                     <th class="width-20"><h2>QUANTITA'</h2></th>
                                      <th class="width-20"><h2>IMPONIBILE</h2></th>
                                      <th class="width-20"><h2>IMPOSTA</h2></th>
                                      <th class="width-20"><h2>TOTALE</h2></th>
                                      <th class="width-10"></th>
                                      
                                    </tr>
                                      
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="row in wiz.head.rows" >
                                      
                                      <td><h2>{{row.productcode}}</h2></td>
                                      <td><h2>{{row.productdescription}}</h2></td>
                                      <td>  
                                      	<label>                         
                                            <input type="text" ng-model="row.quantity" value="{{row.quantity}}" ng-change="wiz.calculateRow(row)" >
                                        </label>
                                      </td>
                                      <td><h2>{{row.amount}}</h2></td>
                                      <td><h2>{{row.taxamount}}</h2></td>
                                      <td><h2>{{row.total}}</h2></td>
                                      <td class="x" ng-click="wiz.deleteElement(row)"></td>
                                   

                                    </tr>
                                  
                                  
                                  </tbody>
                             </table>

              	     </div>
</div>
<div class="row">	
		              	<div class="small-12 columns">
		              		Note:
		              		<textarea rows="10" cols="10" ng-model="wiz.head.note"></textarea>
		              	</div>
		              	</div>
				<div class="row">	
		              	<div class="small-12 columns">
		                    <div class="row">	
		              			<div class="small-3 columns">
		              					<div class="total"><h4>Imponibile:</h4></div>	
		              			</div>
		              			<div class="small-3 columns">
		              					<div class="total"><h4>{{wiz.head.amount}}</h4></div>	
		              			</div>
		              		</div>
		                    <div class="row">	
		              			<div class="small-3 columns">
		              					<div class="total"><h4>Imposta:</h4></div>	
		              			</div>
		              			<div class="small-3 columns">
		              					<div class="total"><h4>{{wiz.head.taxamount}}</h4></div>	
		              			</div>
		              		</div>
		              		<div class="row">	
		              			<div class="small-3 columns">
		              					<div class="total"><h4>Totale:</h4></div>	
		              			</div>
		              			<div class="small-3 columns">
		              					<div class="total"><h4>{{wiz.head.total}}</h4></div>	
		              			</div>
		              		</div>
		              	</div>
				</div>
				<div class="row">	
	                <div class="small-12 columns">
	                  <div class="row">
	                    <ul class="button-group">
	                      <li ng-show="wiz.head.idHead > 0" ><a class="button" ng-click="wiz.printHead()">Stampa</a></li>
	                      <li ng-show="wiz.head.idHead > 0" ><a class="button" ng-click="wiz.reload()">Nuovo</a></li>
	                      <li ng-show="wiz.head.idHead <= 0" ><a class="button" ng-click="wiz.saveHead('normal')">Crea Ordine</a></li>
	                      <li ng-show="wiz.head.idHead <= 0" ><a class="button" ng-click="wiz.saveHead('time')">Crea Preventivo</a></li>
	                    </ul>
	                  </div>
	              	</div>
				</div>
        	</div>
	
        
 