<div class="loading" ng-class="{'active':wiz.opencart == true}">
        	<div class="thebox">


                <div class="small-12 columns">
                   <div class="row">
                        <div class="small-10 columns">

	                        <div class="subtitle" ><h4>ORDINE</h4>
	                    		
	                      
	                      	</div>
	                     </div>
	                     <div class="small-2 columns">	
		                        <div class="close" ng-click="wiz.closeChart()">
		                        </div>
	                      
                    	  </div>
				</div>
				<div class="row">	
                    <div class="small-12 columns">

                        		<table class="table detail">
                                  <thead>
                                    <tr>
                                      
                                      <th class="width-10"><h2>Codice</h2></th>
                                      <th class="width-40" ><h2>Descrizione</h2></th>
                                      <th class="width-20"><h2>PREZZO</h2></th>
                                      
                                      <th class="width-20"><h2>QUANTITA'</h2></th>
                                      <th class="width-20"><h2>IMPONIBILE</h2></th>
                                      <th class="width-20"><h2>IMPOSTA</h2></th>
                                      <th class="width-20"><h2>TOTALE</h2></th>
                                      <th class="width-10"></th>
                                      
                                    </tr>
                                      
                                  </thead>
                                  <tbody>
                                    <tr ng-repeat="row in wiz.head.rows" >
                                      
                                      <td><h2>{{row.productcode}}</h2></td>
                                      <td><h2>{{row.productdescription}}</h2></td>
                                      <td><h2>{{row.price}}</h2></td>
                                      <td>  
                                      	<label>                         
                                            <input type="text" ng-model="row.quantity" value="{{row.quantity}}" ng-change="wiz.calculateRow(row)" >
                                        </label>
                                      </td>
                                      <td><h2>{{row.amount}}</h2></td>
                                      <td><h2>{{row.taxamount}}</h2></td>
                                      <td><h2>{{row.total}}</h2></td>
                                      <td class="x" ng-click="wiz.deleteElement(row)"></td>
                                   

                                    </tr>
                                  
                                  
                                  </tbody>
                             </table>

              	     </div>
</div>
				<div class="row">	
		              	<div class="small-12 columns">
		                    <div class="row">	
		              			<div class="small-3 columns">
		              					<div class="total"><h4>Imponibile:</h4></div>	
		              			</div>
		              			<div class="small-3 columns">
		              					<div class="total"><h4>{{wiz.head.amount}}</h4></div>	
		              			</div>
		              		</div>
		                    <div class="row">	
		              			<div class="small-3 columns">
		              					<div class="total"><h4>Imposta:</h4></div>	
		              			</div>
		              			<div class="small-3 columns">
		              					<div class="total"><h4>{{wiz.head.taxamount}}</h4></div>	
		              			</div>
		              		</div>
		              		<div class="row">	
		              			<div class="small-3 columns">
		              					<div class="total"><h4>Totale:</h4></div>	
		              			</div>
		              			<div class="small-3 columns">
		              					<div class="total"><h4>{{wiz.head.total}}</h4></div>	
		              			</div>
		              		</div>
		              	</div>
				</div>
				<div class="row">	
                <div class="small-12 columns">
                  <div class="row">
                    <ul class="button-group">
                      <li ng-hide="wiz.head.idHead == 0"><a class="button" ng-click="wiz.printHead()">Stampa</a></li>
                      <li ng-hide="wiz.head.idHead == 0"><a class="button" ng-click="wiz.reload()">Nuovo</a></li>
                      <li ng-show="wiz.head.idHead == 0"><a class="button" ng-click="wiz.saveHead()">Conferma</a></li>
                      <li><a class="button" ng-click="wiz.closeChart()" >chiudi</a></li>
                      
                    </ul>
                  </div>
              </div>


            </div>
        		</div>

        	</div>
        </div>
        
 		<div class="row ">
        	<div class="large-10 medium-12 small-12 columns">
        		<div class="title height-50"><h5>CLIENTE:<strong>{{wiz.head.customer.customername}} ({{wiz.head.customer.customercode}})</strong></h5>
        		</div>
        	 
        	</div>

        	<div class="large-2 medium-12 small-12 columns">
        		<div class="shop height-50" ng-class="{'pr_warning':wiz.globalstatus == 2,'pr_error':wiz.globalstatus == 3,'pr_full':wiz.globalstatus == 1}"  >
       		  		<div class="anothercart"  ng-class="{'pr_warning':wiz.globalstatus == 2,'pr_error':wiz.globalstatus == 3,'pr_full':wiz.globalstatus == 1}" ng-click="$parent.gotoStep3()" >
       				</div>
					<div class="arrowdown" ng-class="{'pr_warning':wiz.globalstatus == 2,'pr_error':wiz.globalstatus == 3,'pr_full':wiz.globalstatus == 1}" ng-click="wiz.openChart()" ng-show="wiz.head.rows.length > 0">
	        		</div>
	        		<div class="cartsize" ng-class="{'pr_warning':wiz.globalstatus == 2,'pr_error':wiz.globalstatus == 3,'pr_full':wiz.globalstatus == 1}" >{{wiz.head.rows.length}}</div>
        		</div>
        	</div>
        	</div>
        	<div class="row ">
			<div class="large-6 medium-6 small-12 columns">

        		   <form>
                        <fieldset class="height-70">
                          <legend>Codice o Nome Prodotto</legend>
                            <div class="row">

                                <div class="large-12 medium-12 small-12 columns">
                                  <label>
                                    <input class="nameproduct" type="text" ng-model="value">
                                  </label>

                                  <div class="search"  ng-click="wiz.getProducts(value)" ></div>
                                </div>
                             </div>
                          
                        </fieldset>
                      </form> 

            </div>  
			</div>
        	<div class="row ">

            <div class="small-12 columns" ng-repeat="prod in wiz.productlist">
              <div class="row">
                <div class="small-12 columns">
                    <div class="elements height-100">
                       <div class="small-1 columns">
                        <div class="smallwine">
                        </div>
                       </div>
                       <div class="small-5 columns">
                        <div class="voice height-100">
                          <ul>
                            <li><h2><span>{{prod.code}} {{prod.product.description}}</span></h2></li>
                            <!-- li class="hidden_cell"><h2>TIPOLOGIA: <span>{{prod.product.group.name}}</span></h2></li-->
                          </ul>
                        </div>
                       </div>
                       <div class="small-2 columns">
                          <div class="price height-100">
                            <label> <h2>PREZZO</h2>
                             <div>{{prod.product.listprice}}</div></label>
                          </div>
                       </div>
                       <div class="small-2 columns">
                        <div class="howmuch height-100">
                        <label><h2>QUANTITA'</h2>
                          
                            <input class="square" type="text" ng-model="prod.quantity" ng-change="wiz.quantityChange(prod)">
                          </label>
                        </div>

                       </div>
                       <div class="small-1 columns">
                        <div ng-click="wiz.addProduct(prod)" class="cart height-50" ng-class="{'pr_warning':prod.status == 2,'pr_error':prod.status == 3,'pr_full':prod.status == 1}">
                        </div>
                       </div>

                    </div>
                </div>
               
                 
              </div>
            </div>
           <!-- div class="small-12 columns">
              <div class="row">
                <div class="small-12 columns">
                    <div class="elements height-100">
                       <div class="small-1 columns">
                        <div class="smallwine">
                        </div>
                       </div>
                       <div class="small-5 columns">
                        <div class="voice height-100">
                          <ul>
                            <li><h2>CODICE e DESCRIZIONE</h2></li>
                            <li class="hidden_cell"><h2>PRODUZIONE</h2></li>
                            <li class="hidden_cell"><h2>TIPOLOGIA</h2></li>
                          </ul>
                        </div>
                       </div>
                       <div class="small-2 columns">
                          <div class="price height-100">
                          <h2>PREZZO</h2>
                          </div>
                       </div>
                       <div class="small-2 columns">
                        <div class="howmuch height-100">
                        <label><h2>QUANTITA'</h2>
                          
                            <input class="square" type="text">
                          </label>
                        </div>

                       </div>
                       <div class="small-1 columns">
                        <div class="cart pr_full height-50">
                        </div>
                       </div>

                    </div>
                </div>


               
                 
              </div>
            </div>

             <div class="small-12 columns">
              <div class="row">
                <div class="small-12 columns">
                    <div class="elements height-100">
                       <div class="small-1 columns">
                        <div class="smallwine">
                        </div>
                       </div>
                       <div class="small-5 columns">
                        <div class="voice height-100">
                          <ul>
                            <li><h2>CODICE e DESCRIZIONE</h2></li>
                            <li class="hidden_cell"><h2>PRODUZIONE</h2></li>
                            <li class="hidden_cell"><h2>TIPOLOGIA</h2></li>
                          </ul>
                        </div>
                       </div>
                       <div class="small-2 columns">
                          <div class="price height-100">
                          <h2>PREZZO</h2>
                          </div>
                       </div>
                       <div class="small-2 columns">
                        <div class="howmuch height-100">
                        <label><h2>QUANTITA'</h2>
                          
                            <input class="square" type="text">
                          </label>
                        </div>

                       </div>
                       <div class="small-1 columns">
                        <div class="cart pr_warning height-50">
                        </div>
                       </div>

                    </div>
                </div>

                
               
                 
              </div>
            </div>

             <div class="small-12 columns">
              <div class="row">
                <div class="small-12 columns">
                    <div class="elements height-100">
                       <div class="small-1 columns">
                        <div class="smallwine">
                        </div>
                       </div>
                       <div class="small-5 columns">
                        <div class="voice height-100">
                          <ul>
                            <li><h2>CODICE e DESCRIZIONE</h2></li>
                            <li class="hidden_cell"><h2>PRODUZIONE</h2></li>
                            <li class="hidden_cell"><h2>TIPOLOGIA</h2></li>
                          </ul>
                        </div>
                       </div>
                       <div class="small-2 columns">
                          <div class="price height-100">
                          <h2>PREZZO</h2>
                          </div>
                       </div>
                       <div class="small-2 columns">
                        <div class="howmuch height-100">
                        <label><h2>QUANTITA'</h2>
                          
                            <input class="square" type="text">
                          </label>
                        </div>

                       </div>
                       <div class="small-1 columns">
                        <div class="cart pr_error height-50">
                        </div>
                       </div>

                    </div>
                </div>

                
               
                 
              </div-->
            <!-- /div>



          






                
               

        		
            </div-->
    </div>
