<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-4 medium-4 small-4 columns">
		<h4 >PROFILO</h4>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="saveuser()" class="button small progess_uppercase">Salva</a></li>
		  	<li><a  ng-click="changepassword()" class="button small progess_uppercase">Cambia Password</a></li>
		 </ul>
	</div>
</div>
<div class="row">
	<form>
		<fieldset>
			<legend>Dati Personali  </legend>
			<div class="large-4 small-12 medium-6 columns">
				<label>Nome
					<input type="text" ng-model="cuser.name" value="{{cuser.name}}" /> 
				</label>
			</div>
			<div class="large-4 small-12 medium-6 columns">
				<label>Cognome
					<input type="text" ng-model="cuser.surname" value="{{cuser.surname}}" /> 
				</label>
			</div>
			<div class="large-4 small-12 medium-6 columns">
				<label>Data di nascita<input type="text" 
					 ng-model="cuser.birthday"
					value="{{cuser.birthday}}" capitalize f-datepicker />
				</label>
			</div>
			<div class="large-4 small-12 medium-6 columns">
				<label>Email
					<input type="email" ng-model="cuser.email" value="{{cuser.email}}" /> 
				</label>
			</div>
			<div class="large-4 small-12 medium-6 columns">
				<label>Telefono
					<input type="text" ng-model="cuser.phone" value="{{cuser.phone}}" /> 
				</label>
			</div>
			<div class="large-4 small-12 medium-6 columns">
				<label>Cellulare
					<input type="text" ng-model="cuser.mobile" value="{{cuser.mobile}}" /> 
				</label>
			</div>
		</fieldset>
	</form>
</div>
<div class="row">
	<form>
		<fieldset>
			<legend>Account  </legend>
			<div class="large-12 small-12 medium-12 columns">
				<label>Userid
					<input type="text" ng-model="cuser.username" value="{{cuser.username}}" /> 
				</label>
			</div>
			<div class="large-12 small-12 medium-12 columns">
				<label>Vecchia password 
					<input type="password" ng-model="cuser.oldpassword" value="{{cuser.oldpassword}}"  /> 
				</label>
			</div>
			<div class="large-12 small-12 medium-12 columns">
				<label>Nuova password
					<input type="password" ng-model="cuser.newpassword" value="{{cuser.newpassword}}" /> 
				</label>
			</div>
			<div class="large-12 small-12 medium-12 columns">
				<label>Conferma password
					<input type="password" ng-model="cuser.confirmpassword" value="{{cuser.confirmpassword}}" /> 
				</label>
			</div>
		</fieldset>
	</form>
</div>