.customers{
    
	font-size: 9.5px;
}
.customers .single{
	width:12%;
	padding-top:6px;
}

.customers .double{
	width:22%;
	padding-top:6px;
}
.customers .modify{
	padding-top:6px;
}

.customers .delete{
	padding-top:6px;
}

.customer_main_detail .info .code{
	width:30%;
	float:left;
}
.customer_main_detail .info .name{
	width:70%;
	float:left;
}
.customer_main_detail .info{
	height:150px;
}
.customer_address_detail .contact{
	height:100px;
}
.customer_lists .tabledetail_header{
	width:90%;
	
}
.tabledetail_content.customer_lists{
	width:90%;
}
.customer_lists .tabledetail_header .tabledetail_row {
	width:30%;
}
.customer_lists .tabledetail_rows{
	width:90%;
}
.customer_lists .tabledetail_rows .tabledetail_row {
	width:30%;
}
.customer_lists .tabledetail_rows .modify {
	width:3%;
}
.customer_lists .tabledetail_rows .delete {
	width:3%;
}
.customer_lists .tabledetail_header .modify {
	width:3%;
}
.customer_lists .tabledetail_header .delete {
	width:3%;
}
.category_group{
	overflow:hidden;
	width:100%;
	float:left;
}
.tabledetail_content.customer_destinations{
	overflow:hidden;
	width: 90%;
}

.customer_destinations .tabledetail_header{
	
	margin: 0 auto;
}



.customer_single{
	width:20%;
}
.customer_double{
	width:35%;
}