.destinations{
    
	font-size: 9.5px;
}
.destinations .single{
	width:12%;
	padding-top:6px;
}

.destinations .double{
	width:22%;
	padding-top:6px;
}
.destinations .modify{
	padding-top:6px;
}

.destinations .delete{
	padding-top:6px;
}

.destination_main_detail .info .code{
	width:30%;
	float:left;
}
.destination_main_detail .info .name{
	width:70%;
	float:left;
}
.destination_main_detail .info{
	height:150px;
}
.destination_address_detail .contact{
	height:100px;
}
.destination_lists .tabledetail_header{
	width:90%;
	
}
.tabledetail_content.destination_lists{
	width:90%;
}
.destination_lists .tabledetail_header .tabledetail_row {
	width:30%;
}
.destination_lists .tabledetail_rows{
	width:90%;
}
.destination_lists .tabledetail_rows .tabledetail_row {
	width:30%;
}
.destination_lists .tabledetail_rows .modify {
	width:3%;
}
.destination_lists .tabledetail_rows .delete {
	width:3%;
}
.destination_lists .tabledetail_header .modify {
	width:3%;
}
.destination_lists .tabledetail_header .delete {
	width:3%;
}
.customer_container{
	overflow:hidden;
	width:100%;
	float:left;
}
.tabledetail_content.destination_destinations{
	overflow:hidden;
	width: 90%;
}

.destination_destinations .tabledetail_header{
	
	margin: 0 auto;
}



.destination_single{
	width:20%;
}
.destination_double{
	width:35%;
}