#accordion, .accordion  {
	width: 100%;
	margin: 50px auto;
}
#accordion .ui-accordion-header ,.accordion .ui-accordion-header{
	background-color: #ccc;
	margin: 0px;
}
#accordion .ui-accordion-header a ,.accordion .ui-accordion-header a{
	color: #fff;
	line-height: 42px;
	display: block;
	font-size: 12pt;
	width: 100%;
	text-indent: 10px;
	text-shadow: 1px 1px 0px rgba(0,0,0,0.2);
	border-right: 1px solid rgba(0, 0, 0, .2);
	border-left: 1px solid rgba(0, 0, 0, .2);
	border-bottom: 1px solid rgba(0, 0, 0, .2);
	border-top: 1px solid rgba(250, 250, 250, .2);
}
#accordion .ui-accordion-content,.accordion .ui-accordion-content {
	width: 100%;
	background-color: #f3f3f3;
	color: #777;
	font-size: 10pt;
	line-height: 16pt;
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
				inset 0px -1px 0px 0px rgba(0, 0, 0, .4);
				margin-left: 7px;
}
#accordion .ui-accordion-content > *,.accordion .ui-accordion-content > * {
	margin: 0;
	padding: 5px;
}
#accordion .ui-accordion-content a,.accordion .ui-accordion-content a {
	color: #777;
}
#accordion .ui-accordion-header,.accordion .ui-accordion-header {
	 background-color: #FF831C;
    /*background-image: linear-gradient(to bottom, #FA9300 0%, #DCDCDC 10%);*/
    border: 3px solid #54BAE2;
    width: 100%;
    height: 40px;
	color:#fff;
	border-radius: 15px;
	padding-top:10px;
	padding-left:10px;
}



#accordion .ui-accordion-header: a,.accordion .ui-accordion-header: a {
	box-shadow: 0px -1px 0px 0px #b85c0f;
}
#accordion .ui-accordion-content:last-of-type ,.accordion .ui-accordion-content:last-of-type {
	box-shadow: inset 0px 1px 1px 0px rgba(0, 0, 0, .2),
				inset 0px 0 0px 0px rgba(0, 0, 0, .5);
}






