.PRODUCT_DIALOG{
	width:100%;
	overflow:hidden;
}
.PRODUCT_DIALOG_COLUMN{
	width:50%;
	overflow:hidden;
	float:left;
	height:100%;
}
.PRODUCT_fields{
	height: 35px;
    overflow: hidden;
    width: 100%;
}
.PRODUCT_field{
}
.PRODUCT_label{
float: left;
    width: 18%;
	height: 35px;
	font-weight:bold;
	display: table-cell; 
	vertical-align: middle;
}
.PRODUCT_inputfield{
	width:60%;
}
.PRODUCT_fields_details{
	height: 45px;
    margin-bottom:10px;
}
