.suppliers{
    
	font-size: 9.5px;
}
.suppliers .single{
	width:12%;
	padding-top:6px;
}

.suppliers .double{
	width:22%;
	padding-top:6px;
}
.suppliers .modify{
	padding-top:6px;
}

.suppliers .delete{
	padding-top:6px;
}

.supplier_main_detail .info .code{
	width:30%;
	float:left;
}
.supplier_main_detail .info .name{
	width:70%;
	float:left;
}
.supplier_main_detail .info{
	height:150px;
}
.supplier_address_detail .contact{
	height:100px;
}
.supplier_lists .tabledetail_header{
	width:90%;
	
}
.tabledetail_content.supplier_lists{
	width:90%;
}
.supplier_lists .tabledetail_header .tabledetail_row {
	width:30%;
}
.supplier_lists .tabledetail_rows{
	width:90%;
}
.supplier_lists .tabledetail_rows .tabledetail_row {
	width:30%;
}
.supplier_lists .tabledetail_rows .modify {
	width:3%;
}
.supplier_lists .tabledetail_rows .delete {
	width:3%;
}
.supplier_lists .tabledetail_header .modify {
	width:3%;
}
.supplier_lists .tabledetail_header .delete {
	width:3%;
}
.category_group{
	overflow:hidden;
	width:100%;
	float:left;
}
.tabledetail_content.supplier_destinations{
	overflow:hidden;
	width: 90%;
}

.supplier_destinations .tabledetail_header{
	
	margin: 0 auto;
}



.supplier_single{
	width:20%;
}
.supplier_double{
	width:35%;
}