<div class="row">
	<div class="large-3 medium-3 small-3 columns">
		<h3>ELENCO CLIENTI</h3>
	</div>
	<div class="large-9 medium-9 small-9 columns">
		<ul class="button-group">
		  	<li><a href="#/customer/0" class="button">Aggiungi Cliente</a></li>
		 	<li><a href="#" class="button">Stampa elenco </a></li>
		  	
		</ul>
	</div>
</div>

<div class="large-12 ">
	<div class="row collapse">
 	
 	<table st-table="customersToDisplay" class="table table-striped" st-safe-src="customers">
  <thead>
    <tr>
      <th width="50"></th>
      <th width="150" class="hidden_cell" st-sort="customercode" st-sort-default="reverse" st-skip-natural="true">Codice</th>
      <th width="150" st-sort="customername"  st-skip-natural="true">Ragione sociale</th>
      <th width="150" class="hidden_cell">Indirizzo</th>
      <th width="150">Telefono</th>
      <th width="150">Cellulare</th>
      <th width="150" class="hidden_cell">Fax</th>
      <th width="50"></th>
    </tr>
        <tr>
          <th colspan="8"><input st-search="" class="form-control" placeholder="Ricerca Globale ..." type="text"/></th> 
        </tr>
  </thead>
  <tbody>
    <tr ng-repeat="customer in customersToDisplay ">
      <td><a  class="matita" ng-click= "location.path('/customer/'+customer.idCustomer)"></a> </td>
      <td class="hidden_cell">{{customer.customercode}}</td>
      <td>{{customer.customername}}</td>
      <td class="hidden_cell">{{customer.address.address}}</td>
      <td>{{customer.contact.phone1}}</td>
      <td>{{customer.contact.mobile1}}</td>
      <td class="hidden_cell">{{customer.contact.fax}}</td>
      <td><a class="x" ng-click="deleteElement(customer.idCustomer)"></a></td>

    </tr>
  
  
  </tbody>
</table>
             
     
   </div>
</div>
		  
