<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>{{customer.customername}}</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="saveCustomer()" class="button">Salva</a></li>
		</ul>
	</div>
</div>
<form>
	<fieldset>
		<legend>Anagrafica</legend>
		<div class="row">
			<div class="large-4 columns">
				<label>Codice<input type="text"
					 ng-model="customer.customercode"
					value="{{customer.customercode}}" capitalize />
				</label>
			</div>
			<div class="large-8 columns">
				<label>Ragione Sociale <input type="text"
					 ng-model="customer.customername"
					value="{{customer.customername}}" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<label>Codice Fiscale <input type="text"
					 ng-model="customer.taxcode"
					value="{{customer.taxcode}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Partita Iva <input type="text"
					 ng-model="customer.serialnumber"
					value="{{customer.serialnumber}}" />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Attivo <input type="checkbox"  ng-model="customer.active" value="{{customer.active}}"/>
				</label>
			</div>
		</div>
		
	</fieldset>
	<fieldset>
		<legend>Contatti</legend>
		<div class="row">
			<div class="large-6 columns">
				<label>Telefono <input type="text"
					 ng-model="customer.contact.phone1" value="{{customer.contact.phone1}}" capitalize />
				</label>
			</div>
			<div class="large-6 columns">
				<label>Telefono Aggiuntivo <input type="text"
					ng-model="customer.contact.phone2" value="{{customer.contact.phone2}}" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<label>Cellulare <input type="text"
					 ng-model="customer.contact.mobile1" value="{{customer.contact.mobile1}}" capitalize />
				</label>
			</div>
			<div class="large-6 columns">
				<label>Cellulare Aggiuntivo <input type="text"
					ng-model="customer.contact.mobile2" value="{{customer.contact.mobile2}}" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<label>Email <input type="text"
					 ng-model="customer.contact.email1" value="{{customer.contact.email1}}" capitalize />
				</label>
			</div>
			<div class="large-6 columns">
				<label>Email Aggiuntiva <input type="text"
					ng-model="customer.contact.email2" value="{{customer.contact.email2}}" />
				</label>
			</div>
		</div>
	</fieldset>
	<fieldset>
		<legend>Indirizzo</legend>
		<div class="row">
			<div class="large-8 columns">
				<label>Via <input type="text"
					 ng-model="customer.address.address" value="{{customer.address.address}}"  capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Civico <input type="text"
					ng-model="customer.address.number" value="{{customer.address.number}}"  />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-6 columns">
				<label>Città <input type="text"
					ng-model="customer.address.city" value="{{customer.address.city}}"  capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>CAP <input type="text"
					ng-model="customer.address.zipcode" value="{{customer.address.zipcode}}"  />
				</label>
			</div>
			<div class="large-2 columns">
				<label>Provincia <input type="text"
					ng-model="customer.address.zone" value="{{customer.address.zone}}"  />
				</label>
			</div>
		</div>
		
	</fieldset>
</form>