<div class="row">
	<div class="large-3 medium-3 small-3 columns">
		ELENCO CLIENTI
	</div>
	<div class="large-9 medium-9 small-9 columns">
		<ul class="button-group">
		  	<li><a href="#" class="button">Button 1</a></li>
		 	<li><a href="#" class="button">Button 2</a></li>
		  	<li><a href="#" class="button">Button 3</a></li>
		</ul>
	</div>
</div>
<div class="row">
	<div class="large-12 medium-12 small-12">
		<table> <thead> <tr> <th width="200">Table Header</th> <th>Table Header</th> <th width="150">Table Header</th> <th width="150">Table Header</th> </tr> </thead> <tbody> <tr> <td>Content Goes Here</td> <td>This is longer content Donec id elit non mi porta gravida at eget metus.</td> <td>Content Goes Here</td> <td>Content Goes Here</td> </tr> <tr> <td>Content Goes Here</td> <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td> <td>Content Goes Here</td> <td>Content Goes Here</td> </tr> <tr> <td>Content Goes Here</td> <td>This is longer Content Goes Here Donec id elit non mi porta gravida at eget metus.</td> <td>Content Goes Here</td> <td>Content Goes Here</td> </tr> </tbody> </table>
	</div>
</div>