<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>{{list.name}}</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="saveProduct()" class="button">Salva</a></li>
		</ul>
	</div>
</div>
<div class="row">
<form>
	<fieldset>
		
		<div class="row">
			<div class="large-4 columns">
				<label>Codice<input type="text"
					 ng-model="list.code"
					value="{{list.code}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Name<input type="text"
					 ng-model="list.name"
					value="{{list.name}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Validità<input type="text"
					 ng-model="list.startdate"
					value="{{list.startdate}}" capitalize f-datepicker />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<label>Descrizione <input type="text"
					 ng-model="list.description"
					value="{{list.description}}" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<label>Incremento<input type="text"
					 ng-model="list.increment"
					value="{{list.increment}}" capitalize />
				</label>
			</div>
			<div class="large-8 columns">
				<label>Percentuale<input type="text"
					 ng-model="list.isPercentage"
					value="{{list.isPercentage}}" capitalize />
				</label>
			</div>
		</div>
	</fieldset>
</form>
</div>		