<div class="row">
	<div class="large-3 medium-3 small-3 columns">
		<h3>ELENCO LISTINI</h3>
	</div>
	<div class="large-9 medium-9 small-9 columns">
		<ul class="button-group">
		  	<li><a href="#/list/0" class="button">Aggiungi Listino</a></li>
		 	<li><a href="#" class="button">Stampa elenco </a></li>
		  	
		</ul>
	</div>
</div>

<div class="large-12 ">
	<div class="row collapse">
 	
 	<table st-table="listsToDisplay" class="table table-striped" st-safe-src="lists">
  <thead>
    <tr>
      <th width="50"></th>
      <th width="150"  st-sort="code" st-sort-default="reverse" st-skip-natural="true">Codice</th>
      <th width="150" st-sort="description"  st-skip-natural="true">Descrizione</th>
      <th width="150" class="hidden_cell">Validit&agrave;</th>
      <th width="50"></th>
    </tr>
        <tr>
          <th colspan="8"><input st-search="" class="form-control" placeholder="Ricerca Globale ..." type="text"/></th> 
        </tr>
  </thead>
  <tbody>
    <tr ng-repeat="list in listsToDisplay ">
      <td><a  class="matita" href="#/list/{{list.idList}}"></a> </td>
      <td >{{list.code}}</td>
      <td>{{list.description}}</td>
      <td class="hidden_cell">{{list.startdate}}</td>
      
      <td><a class="x" ng-click="deleteElement(list.idList)"></a></td>

    </tr>
  
  
  </tbody>
</table>
             
     
   </div>
</div>
	  
