<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3>{{list.name}}</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="saveProduct()" class="button">Salva</a></li>
		</ul>
	</div>
</div>
<div class="row">
<form>
	<fieldset>
		
		<div class="row">
			<div class="large-4 columns">
				<label>Codice<input type="text"
					 ng-model="list.code"
					value="{{list.code}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Name<input type="text"
					 ng-model="list.name"
					value="{{list.name}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Validità<input type="text"
					 ng-model="list.startdate"
					value="{{list.startdate}}" capitalize f-datepicker />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-12 columns">
				<label>Descrizione <input type="text"
					 ng-model="list.description"
					value="{{list.description}}" />
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<label>Incremento<input type="text"
					 ng-model="list.increment"
					value="{{list.increment}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Percentuale<input type="checkbox"
					 ng-model="list.isPercentage"
					value="{{list.isPercentage}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Forza Prodotti<input type="checkbox"
					 ng-model="list.fill"
					value="{{list.fill}}" capitalize />
				</label>
			</div>
		</div>
	</fieldset>
</form>
</div>	
<div	class="row">
	<div class="large-2 medium-2 small-2 columns">
		<h3>PRODOTTI</h3>
	</div>
	<div class="large-10 medium-10 small-10 columns">
		<ul class="button-group">
			<li><div class="button" ng-click="filterMenu('filter')">Filtra </div></li>
			<li><div class="button" ng-click="filterMenu('increment')">Incrementa Prezzi </div></li>
		</ul>
	
	</div>
</div>
<div class="row" ng-show="menuselected == 'filter' || menuselected == 'increment'">
	<form>
	<fieldset>
		<legend>FILTRAGGIO DATI</legend>
		<div class="row">
			<div class="large-4 columns">
				<label>Codice o Descrizione
				  <input type="text"
					 ng-model="filter.searchstring"
					value="{{filter.searchstring}}" capitalize />
				</label>
			</div>
			<div class="large-4 columns">
				<label>Regione <select  name="region" ng-options="region.code for region in regions" ng-model="filter.region"  >
           		 	<option value=""></option>
            	</select> 
				</label>
			</div>
			<div class="large-4 columns">
				<label>Gruppo <select  name="group" ng-options="group.code for group in groups" ng-model="filter.group"  >
           		 	<option value=""></option>
            	</select> 
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-4 columns">
				<label>Categoria <select  name="category" ng-options="category.code for category in categories" ng-model="filter.category" ng-change="changeCategory()" >
           		 	<option value=""></option>
            	</select> 
				</label>
			</div>
			<div class="large-4 columns">
				<label>Sottocategoria <select  name="subcategory" ng-options="subcategory.code for subcategory in subcategories" ng-model="filter.subcategory"  >
           		 	<option value=""></option>
            	</select> 
				</label>
			</div>
			<div class="large-4 columns">
				<label>Marca <select  name="brand" ng-options="brand.code for brand in brands" ng-model="filter.brand"  >
           		 	<option value=""></option>
            	</select> 
				</label>
			</div>
		</div>
		
	</fieldset>
	</form>
</div>
<div class="row" ng-show="menuselected == 'increment'">
	<form>
		<fieldset>
			<legend>INCREMENTO</legend>
			<div class="row">
			<div class="large-3 columns">
				<label>Incremento
				  <input type="text"
					 ng-model="increment.increment"
					value="{{increment.increment}}" capitalize />
				</label>
			</div>
			<div class="large-3 columns">
				<label>Percentuale
				  <input type="checkbox"
					 ng-model="increment.isPercentage"
					value="{{increment.isPercentage}}" capitalize />
				</label>
			</div>
			<div class="large-3 columns">
				<label>Prezzo Finale
				  <input type="checkbox"
					 ng-model="increment.isEndPrice"
					value="{{increment.isEndPrice}}" capitalize />
				</label>
			</div>
			<div class="large-3 columns">
				<button class="button" ng-show="searched" ng-click="incrementPrices()" >Incrementa</button>
				<button class="button" ng-hide="searched" ng-click="getProductsNumber();searched = true" >Filtra</button>
			</div>
		</div>
		</fieldset>
	</form>
</div>
<div class="row">
	<div class="small-8 columns ">
		<pagination total-items="totalitems" items-per-page="pagesize_confirmed" page="page" max-size="5" class="pagination-sm" boundary-links="true" rotate="false" num-pages="pages" ng-click="getProducts(page)"></pagination>
	</div>
	<div class="small-4 columns ">
		<input ng-model="pagesize" value="{{pagesize}}">
		<div class="button"  ng-click="getProductsNumber()">Applica </div>
	</div>
</div>
<div	class="row">
<table st-table="prodsToDisplay" class="table table-striped" st-safe-src="list.listproduct">
  <thead>
    <tr>
      <th width="50"></th>
      <th width="20%"  st-sort="product.code" st-sort-default="anything" st-skip-natural="true">Codice</th>
      <th width="50%"  st-sort="product.description"  st-skip-natural="true">Descrizione</th>
      <th width="10%"    st-skip-natural="true">UM</th>
      <th width="20%"    st-skip-natural="true">Prezzo Netto</th>
      <th width="20%"   >%</th>
      <th width="20%"   >Aliquota</th>
      <th width="20%"    st-skip-natural="true">Prezzo</th>
      <th width="50"></th>
    </tr>
    <tr>
      <th colspan="8"><input st-search="" class="form-control" placeholder="Ricerca Globale ..." type="text"/></th> 
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="prod in prodsToDisplay ">
      <td><a  class="matita" ng-click="changeProdElement(prod)"></a> </td>
      <td class="hidden_cell">{{prod.product.code}}</td>
      <td >{{prod.product.description}}</td>
      <td >{{prod.product.umselected.code}}</td>
      <td ><div ng-if="prodid != prod.idListProduct">&nbsp;{{prod.price}}</div><input ng-if="prodid == prod.idListProduct"  ng-model="prod.price"  value="{{prod.price}}" ng-blur="calculatePercentage(prod)" /> </td>
      <td ><div ng-if="prodid != prod.idListProduct">&nbsp;{{prod.percentage}}</div><input ng-if="prodid == prod.idListProduct"  ng-model="prod.percentage"  value="{{prod.percentage}}" ng-blur="calculateSellPrice(prod)" /> </td>
      <td >{{prod.product.taxrate.value}}</td>
      <td ><div ng-if="prodid != prod.idListProduct">&nbsp;{{prod.endprice}}</div><input ng-if="prodid == prod.idListProduct"  ng-model="prod.endprice"  value="{{prod.endprice}}" ng-blur="calculateEndPrice(prod)" /> </td>
      <td><a class="x" ></a></td>

    </tr>
  
  
  </tbody>
</table>
</div>		