<div class="row">
	<div class="large-12 medium-12 small-12 columns" ng-show="msg.type != ''">
		<alert  class="{{msg.type}}" close="msg.initialize()">{{msg.message}}</alert>
	</div>
</div>
<div class="row">
	<div class="large-5 medium-5 small-5 columns">
		<h3 ng-show="isNew == true">NUOVO PRODOTTO o SERVIZIO:</h3>
		<h3 ng-show="isNew == false && product.isProduct == 'true'">PRODOTTO: {{product.code}} {{product.description}}</h3>
		<h3 ng-show="isNew == false && product.isProduct == 'false'">SERVIZIO: {{product.code}} {{product.description}}</h3>
	</div>
	<div class="large-7 medium-7 small-7 columns">
		<ul class="button-group">
		  	<li><a ng-click="saveProduct()" class="button">Salva</a></li>
		  	<li><a ng-click="mainPage()" class="button">Elenco</a></li>
		  	<li><a ng-click="saveProduct()" class="button">Salva</a></li>
		  	<li><a ng-show="isNew == false" ng-click="newProduct()" class="button">Nuovo</a></li>
		</ul>
	</div>
</div>


<div class="row">
<form>
	<fieldset>
		
		<div class="row">
			<div class="large-4 columns">
				<label>Codice<input type="text"
					 ng-model="product.code"
					value="{{product.code}}" capitalize />
				</label>
			</div>
			<div class="large-8 columns">
				<label>Descrizione<input type="text"
					 ng-model="product.description"
					value="{{product.description}}" capitalize />
				</label>
			</div>
			
		</div>
		<div class="row">
			<div class="large-4 columns">
				<label>Aliquota 
					<select ng-model="currentTaxRate" ng-options="taxrate as taxrate.description for taxrate in taxrates" ng-change="setModified()"  >
					    <option value=""></option>
					    
					</select>
				</label>
			</div>
			<div class="large-3 columns">
				<label>Prezzo Acquisto<input type="text"
					 ng-model="product.purchaseprice"
					value="{{product.purchaseprice}}" capitalize ng-blur="calculatePrices('sellprice')" ng-change="setModified()" />
				</label>
			</div>
			<div class="large-2 columns">
				<label>%<input type="text"
					 ng-model="product.percentage"
					value="{{product.percentage}}" capitalize ng-blur="calculatePrices('sellprice')" ng-change="setModified()" />
				</label>
			</div>
			<div class="large-3 columns">
				<label>Prezzo Vendita<input type="checkbox"
					 ng-model="product.sellprice"
					value="{{product.sellprice}}" capitalize ng-blur="calculatePrices('percentage')" ng-change="setModified()" />
				</label>
			</div>
		</div>
	</fieldset>
</form>
</div>	
<div class="row">
	<div class="large-7 medium-7 small-7 columns">
	<ul class="button-group">
		  	<li><a ng-click="addUMElement(product)" class="button">Aggiungi Unit&#224; di Misura</a></li>
		</ul>
	
	</div>
</div>


<div	class="row">
<table st-table="umsToDisplay" class="table table-striped" st-safe-src="product.ums ">
  <thead>
  <td class="row_table td_five"><div class="td_div ">Codice</div></td>
									<td class="row_table td_five"><div class="td_div ">U.M.</div></td>
									<td class="row_table td_five"><div class="td_div ">Preferenziale</div></td>
									<td class="row_table td_five"><div class="td_div ">Conversione</div></td>
    <tr>
      <th width="50"></th>
      <th width="25%"  st-sort="product.code" st-sort-default="reverse" st-skip-natural="true">Codice</th>
      <th width="25%"   st-sort-default="reverse" st-skip-natural="true">UM</th>
      <th width="25%"   st-sort-default="reverse" st-skip-natural="true">Preferenziale</th>
      <th width="25%"   st-sort-default="reverse" st-skip-natural="true">Conversione</th>
      <th width="50"></th>
    </tr>
    
  </thead>
  <tbody>
    <tr ng-repeat="ums in umsToDisplay ">
      <td><a  class="matita" ng-click="changeUMElement($index)"></a> </td>
      <td class="hidden_cell">
      		<div ng-if="umpid != $index">&nbsp;{{ump.code}} </div>
      		<input ng-if="umpid == $index"  ng-model="ump.code"  value="{{ump.code}}"  capitalize ng-change="setModified()"  />  </div>
	  </td>
      <td >
      		<div ng-if="umpid != $index">&nbsp;{{ump.um.code}}</div>
		    <select ng-if="umpid == $index" id="selcounter"  ng-model="currentUMP"    ng-options="um as um.code for um in ums" ng-change="ump.um = currentUMP;setModified();" ></select>
	  </td>
      <td ><div ng-if="umpid != $index">&nbsp;{{ump.preference}}</div>
		   <input ng-if="umpid == $index" type="checkbox" ng-model="ump.preference"  value="{{ump.preference}}" />
	  </td>
      <td ><div class="td_div "><div ng-if="umpid != $index">&nbsp;{{ump.conversion}}</div>
		   <input ng-if="umpid == $index" ng-model="ump.conversion"  value="{{ump.conversion}}" ng-change="setModified()"  />  
	  </td>
      <td><a class="x" ></a></td>

    </tr>
 						
								
  
  </tbody>
</table>
</div>		


