<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Enoteca Rocchi</title>
	
	<link rel="stylesheet" href="css/foundation.css" />
	 <link rel="stylesheet"  href="css/customerliststyle.css">
 
</head>
<body> 

<div class="row">
	<div class="large-3 medium-3 small-3 columns">
		<h3>ELENCO PRODOTTI</h3>
	</div>
	<div class="large-9 medium-9 small-9 columns">
		<ul class="button-group">
			<li><div class="button">Aggiungi Prodotto</div></li>
			<li><div class="button">Stampa Elenco </div></li>
			<li><div class="button">Filtra </div></li>
			<li><div class="button">Incrementa Prezzi </div></li>
		</ul>
	</div>
	</div>
	<div class="row">
	<div  >
		<table >
			<thead>
				<tr >
					<th ><div class="td_div first">&nbsp;</div></th>
					<th ><div class="td_div ">Codice</td>
					<th ><div class="td_div ">Descrizione</td>
					<th class=" hidden_cell">U.M.</td>
					<th class="  hidden_cell">Prezzo</td>
					<th class=" hidden_cell">Categoria</td>
					<th class="  hidden_cell">Gruppo</td>
					<th ><div class="td_div ">&nbsp;</div></th>
				</tr>
			</thead>
			<tbody>
				<tr  ng-repeat="product in products ">
					<td ><a  class="matita" ng-click= "location.path('/product/'+product.idProduct)"></a></td>
					<td >{{product.code}}</td>
					<td >{{product.description}} </td>
					<td class=>{{product.umselected.code}}</td>
					<td class="  hidden_cell">{{product.sellprice}}</td>
					<td class=" hidden_cell">{{product.category.name}}</td>
					<td class=" hidden_cell">{{product.group.name}}</td>
					<td ><a class="x" ng-click="deleteElement(customer.idCustomer)"></a></td>
				</tr>
			</tbody>
		</table>
	</div>


</div>
</div>
</div>
</body>
</html>
