<!-- div class="container userlist clearfix">
	<div class="underconstruction">
	</div>
	<div class="menu-container">
		<div class="mainmenu">
			<ul ng-if="path == ''" class="menu " id="menu">
				<li class="munu_li"><a  href="#/head/0">Nuovo Documento</a></li>
				<li class="munu_li"><a  href="#/headlist/1/2">Elenco Documenti</a></li>
				<li class="munu_li"><a href="#/customer" >Clienti</a></li>
				<li class="munu_li"><a  href="#/product">Prodotti e Servizi</a></li>
				<li class="munu_li"><a  href="#/list">Listini</a></li>
				<li class="munu_li"><a  href="#/myprofile/{{user.iduser}}" >Mio Profilo </a></li>
				<li class="munu_li"><a  href="#/parameters">Parametri</a></li>
				<li class="munu_li"><a  ng-click="logout()">Logout</a></li>
			</ul>
			<ul ng-if="path == 'customer'"  class="menu " id="menu">
				<li class="munu_li"><a  href="#/head/0">Nuovo Ordine</a></li>
				<li class="munu_li"><a  href="#/headlist/1/1">I Miei Ordini</a></li>
			</ul>	
			<ul ng-if="path == 'transporter'"  class="menu " id="menu">
				<li class="munu_li"><a  href="#/head/0">Nuovo Ordine</a></li>
				<li class="munu_li"><a  href="#/headlist/1/1">I Miei Ordini</a></li>
				<li class="munu_li"><a href="#/customer" >Clienti</a></li>
				<li class="munu_li"><a  ng-click="logout()">Logout</a></li>
			</ul>			
		</div>
	</div>
</div--> <div class="row ">

	        <div class="small-12 columns" ng-click="location.path('/head/0')">
	        	<div class="hero height-250"><h1>nuovo ordine</h1>
	        	</div>
	        </div>

	        <div class="large-4 medium-4 small-12 columns">
	        	<div class="img1 height-250"><h1>preventivo</h1>
	        	</div>
	        </div>

	        <div class="large-8 medium-8 small-12 columns"  ng-click="location.path('/customer')">
	        	<div class="img2 height-250"><h1>clienti</h1>
	        	</div>
	     	</div>

	     	 <div class="large-8 medium-8 small-12 columns"  ng-click="location.path('/product')">
	        	<div class="img3 height-250"><h1>prodotti</h1>
	        	</div>
	     	</div>

	     	<div class="large-4 medium-4 small-12 columns"  ng-click="location.path('/list')">
	        	<div class="img4 height-250"><h1>listini</h1>
	        	</div>
	        </div>





	</div>   