 <div class="large-3 large-centered columns">
		<div class="login-box">
			<div class="row">
				<div class="large-12 columns">
					<form>
					    <div class="row">
							<div class="large-12 columns">
								<input type="text" name="username" placeholder="Username" ng-model="login.username" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 columns">
								<input type="password" name="password" placeholder="Password" ng-model="login.password" />
							</div>
						</div>
						<div class="row">
							<div class="large-12 large-centered columns">
								<input type="submit" class="button expand" value="Log In" ng-click="loginfunction()"/>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>